* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
}

#tables-container {
  margin: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

input,
select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 12px;
}

/* Disable input arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable input arrows on Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: right;
}

th {
  background-color: #d9d9d9;
}

.unit {
  background-color: rgba(217, 217, 217, 0.25);
  width: 32px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 200;
}

.row-type {
  font-size: 0.8rem;
}

.row-value {
  text-align: right;
  font-size: 12px;
}

td.row-value select {
  text-align: right;
}

.infos-section {
  text-decoration: underline;
}

.rentabilite-section {
  text-decoration: underline;
  text-align: left;
}

button#reset-tables {
  margin-top: 32px;
  padding: 8px 16px;
  cursor: pointer;
}
